/* /////////////////// */
/* ///////// */
/* ////////////////////////////////App Alumnis//////////////////////////////// */
.homeTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #e80041;
}
body {
    background: white;
}

nav {
    background-color: #e80041;
}

.home {
    margin-top: 15vh;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    height: 100vh;
}

.divbloc {
    height: 12vh;
}

.divside {
    height: 88vh;
    background-color: #e80041;
}

hr {
    width: 180px;
    background-color: white;
}

li {
    list-style-type: none;
}

.btnSize {
    width: 150px;
}

.postCat {
    height: 25vh;
}

.lightMain {
    height: 12vh;
    z-index: 3;
    background-color: white;
}

.postNav {
    background-color: #e80041;
    height: 15vh;
}

.cardArticle {
    height: 65vh;
    background-color: #CFD8DC;
}

.img1 {
    height: 40vh;
}

.img2 {
    height: 60vh;
    width: 50vw;
}

.mobile {
    display:none;
}

.mobileDrop {
    margin-left: 60px;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .mobileCache {
        display: none;
    }

    .mobile {
        display: block;
    }

    .postNav {
        height: 17vh;
    }

    .cardArticle {
        height: 75vh;
    }

	
}

@media (max-width: 576px) {


}
